<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>

<body>
    회원가입 페이지
    <div class="content">
        <form th:action="@{/auth/signUp}" method="POST" id="signUpForm">
            <label for="userName">이름(실명)</label>
            <input type="text" name="userName" id="userName"> <br>
            <label for="signInId">아이디</label>
            <input type="text" name="signInId" id="signInId"> <br>
            <label for="userPwd">비밀번호</label>
            <input type="password" name="userPwd" id="userPwd"> <br>
            <label for="userPwdCheck">비밀번호 체크</label>
            <input type="password" id="userPwdCheck"> <br>
            <label for="userEmail">이메일</label>
            <input type="email" name="userEmail" id="userEmail"> <br>
            <br>
            <input type="submit" value="회원가입">
            <input type="reset" value="돌아가기">
        </form>
    </div>

</body>
</html>