<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>

<body>
    <h2>로그인</h2>
    <form th:action="@{/auth/signIn}" method="post">
        <label for="signInId">아이디:</label>
        <input type="text" id="signInId" name="signInId" required />
        <br>
        <label for="userPwd">비밀번호:</label>
        <input type="password" id="userPwd" name="userPwd" required />
        <br>
        <input type="submit" value="로그인">
    </form>
	<a th:href="@{/auth/signUp}">회원가입</a>
    <a th:href="@{/auth/idPwFind}">ID/PW 찾기</a>
</body>

</html>