<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>고객 센터 페이지</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>고객센터</h1>
        <div class="claim-list">
            <div th:each="claim : ${claims}" class="claim-item">
                <div class="claim-title" th:text="${claim.title}">문의 제목</div>
                <div class="claim-content" th:text="${claim.question}">문의 내용</div>
                <div class="claim-author" th:text="${claim.authorId}">작성자 ID</div>
            </div>
        </div>
        <a th:href="@{/claims/new}" class="button">문의 하기</a>
    </div>
</body>
</html>