<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>설문 목록</title>
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/bulma.min.css}"
      href="../../../static/css/bulma.min.css"
    />
    <style>
      .primary-color {
        color: #fdf5bf;
      }
      .secondary-bg {
        background-color: #bee6d9;
      }
    </style>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <!-- 로고 + dashboard 바로가기 -->
      <div class="logo">
        <a th:href="@{/dashboard}">
          <img
                  src="../../static/images/wilog.png"
                  th:src="@{/images/wilog.png}"
                  alt="로고"
                  class="image"
                  style="width: 100px; height: auto"
          />
        </a>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title primary-color">설문 목록</h1>
        <ul>
          <li th:each="survey : ${mentalSurveys}">
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong
                        th:text="${survey.title}"
                        class="primary-color"
                      ></strong>
                      <br />
                      <span th:text="${survey.description}"></span>
                    </p>
                  </div>
                </div>
                <div class="media-right">
                  <a th:href="@{${survey.link}}" class="button secondary-bg">바로가기</a>
                </div>
              </article>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
