<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>아이로그-회원가입</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
회원가입 페이지
<label name="userName" id="userName">이름</label>
<input type="text" name="userName"> <br>
<label name="userId" id="userId">아이디</label>
<input type="text" name="userId"> <br>
<label name="userPwd" id="userPwd">비밀번호</label>
<input type="password" name="userPwd"> <br>
<label name="userPwdCheck" id="userPwdCheck">비밀번호 체크</label>
<input type="password" name="userPwdCheck"> <br>
<label name="userEmail" id="userEmail">이메일</label>
<input type="email" name="userEmail"> <br>
<br>
<input type="submit" value="회원가입">
<input type="reset" value="돌아가기">

</body>
</html>