<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>회원 상세 정보 - iLog</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/sweetalert2.js"></script>
    <script>
      $(document).ready(function () {
        var deleteAllChildren;
        $('#btn-quit').click(function () {
          Swal.fire({
            title: '정말 탈퇴하시겠습니까?',
            text: '탈퇴하시면 등록하신 아동 정보가 모두 삭제됩니다.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '네, 탈퇴하겠습니다.',
            cancelButtonText: '아니요',
          }).then((result) => {
            if (result.isConfirmed) {
              $.ajax({
                url: '/members/quit/v2',
                data: {
                  deleteAllChildren: deleteAllChildren,
                },
                type: 'POST',
                success: function (res) {
                  if (res) {
                    Swal.fire({
                      title: '서비스 이용이 종료 되었습니다.',
                      text: '이용해 주셔서 감사합니다.',
                      icon: 'success',
                    });
                    setTimeout(() => {
                      location.href = '/';
                    }, 3000);
                  } else {
                    Swal.fire({
                      title: '회원 탈퇴에 실패했습니다.',
                      text: '운영팀에 문의해주세요',
                      icon: 'info',
                      footer: '<a href="/claims">문의하기</a>',
                    });
                  }
                },
                error: function () {
                  Swal.fire({
                    title: '회원 탈퇴에 실패했습니다.',
                    text: '운영팀에 문의해주세요',
                    icon: 'info',
                    footer: '<a href="/claims">문의하기</a>',
                  });
                },
              });
            }
          });
        });

        $('#deleteChildrenCheckBox').on('change', function (e) {
          //체크되었으면 true, 체크 해제되었으면 false
          deleteAllChildren = e.target.checked;
        });
      });
    </script>
    <link
      rel="stylesheet"
      th:href="@{/css/bulma.min.css}"
      href="../../static/css/bulma.min.css"
    />
    <style>
      .hero.is-primary {
        background-color: #fdf5bf;
      }
      .hero.is-primary .title {
        color: white;
      }
      body {
        display: grid;
        height: 100vh;
        grid-template-rows: auto 1fr;
      }
      #section-main {
        display: grid;
        align-items: center;
      }

      /* 2025-03-11 / 김은진 */
      .title {
        text-align: center;
        color: black;
      }
      .button-group {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
      }
      .box {
        display: inline-block;
      }
      .columns.is-centered {
        flex-direction: column;
      }
      .column.is-half {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <section class="hero is-primary">
      <!-- 로고 + dashboard 바로가기 -->
      <div class="logo">
        <a th:href="@{/dashboard}">
          <img
            src="../../static/images/wilog.png"
            th:src="@{/images/wilog.png}"
            alt="로고"
            class="image"
            style="width: 100px; height: auto"
          />
        </a>
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">회원 상세 정보</h1>
        </div>
      </div>
    </section>

    <section id="section-main" class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="box">
              <table class="table is-fullwidth">
                <tbody>
                  <tr>
                    <th>아이디</th>
                    <td th:text="${memberDetails.signInId}">user123</td>
                  </tr>
                  <tr>
                    <th>이름</th>
                    <td th:text="${memberDetails.name}">홍길동</td>
                  </tr>
                  <tr>
                    <th>이메일</th>
                    <td th:text="${memberDetails.email}">hong@example.com</td>
                  </tr>
                  <tr>
                    <th>관계 유형</th>
                    <td th:text="${memberDetails.relationType}">보호자</td>
                  </tr>
                  <tr>
                    <th>개인정보 수집 및 이용 동의</th>
                    <td>
                      <span
                        th:if="${memberDetails.personalInformationCollectionAndUsageAgreement}"
                        class="tag is-success"
                        >동의함</span
                      >
                      <span
                        th:unless="${memberDetails.personalInformationCollectionAndUsageAgreement}"
                        class="tag is-danger"
                        >동의하지 않음</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--            <div class="field is-grouped is-grouped-centered">-->
          <div class="button-container">
            <div class="button-group">
              <p class="control">
                <a class="button is-primary" th:href="@{/members/edit}">
                  정보 수정
                </a>
              </p>
              <p class="control">
                <a class="button is-light" href="/auth/logout"> 로그아웃 </a>
              </p>
              <p class="control">
                <button class="button is-light" id="btn-quit">탈퇴하기</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
