<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>감정 분석 결과 목록 - iLog</title>
    <link
      href="../../../static/css/bulma.min.css"
      rel="stylesheet"
      th:href="@{/css/bulma.min.css}"
    />
    <link
      href="../../../static/css/customColors.css"
      rel="stylesheet"
      th:href="@{/css/customColors.css}"
    />
    <link
      href="../../../static/css/all.min.css"
      rel="stylesheet"
      th:href="@{/css/all.min.css}"
    />

    <style>
      .view-toggle {
        margin-bottom: 1rem;
      }

      .preview-image {
        background-color: var(--primary);
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }

      .pagination-link.is-current {
        background-color: var(--primary);
        border-color: var(--primary);
      }

      .delete-button {
        background-color: #f5f5f5;
        border: none;
        padding: 0.5em 1em;
        cursor: pointer;
      }

      .details-button {
        background-color: var(--primary);
        border: none;
        padding: 0.5em 1em;
        cursor: pointer;
      }

      .delete-button:hover {
        background-color: #e8e8e8;
      }

      .card {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }

      .card-footer-custom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 5px 5px 0;
      }

      #gridView {
        min-height: 60vh;
      }

      #noContentMessageGrid {
        text-align: center;
        width: 100%;
        display: grid;
        place-items: center;
        font-size: xx-large;
      }

      #noContentMessageList {
        text-align: center;
        min-height: 60vh;
        display: grid;
        place-items: center;
        font-size: x-large;
      }

      #mainNav {
        background-color: var(--primary);
      }
    </style>
    <script
      src="../../../static/js/jquery-3.7.1.min.js"
      th:src="@{/js/jquery-3.7.1.min.js}"
    ></script>
    <script th:src="@{/js/sweetalert2.js}"></script>

    <script>
      var analysisUrl = `/children/${getChildIdFromUrl()}/analysis`;
      function deleteItem(event) {
        event.preventDefault();
        event.stopPropagation();
        const analysisResultId = event.target.getAttribute(
          'data-analysisResultId'
        );
        const analysisTargetId = event.target.getAttribute(
          'data-analysisTargetId'
        );
        Swal.fire({
          title: '本当に削除しますか？',
          text: 'この操作は取り消せません！',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: '削除する',
          cancelButtonText: 'キャンセル',
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: `${analysisUrl}/${analysisTargetId}/results/${analysisResultId}`,
              method: 'DELETE',
              success: function (res) {
                if (res) {
                  Swal.fire({
                    title: '削除完了',
                    text: '正常に削除されました。',
                    icon: 'success',
                  });
                  setTimeout(() => {
                    window.location.href = `${analysisUrl}/resultList`;
                  }, 1000);
                } else {
                  Swal.fire('削除中にエラーが発生しました。');
                }
              },
              error: function (err) {
                Swal.fire('削除中にエラーが発生しました。');
              },
            });
          }
        });
      }

      document.addEventListener('DOMContentLoaded', function () {
        const viewType = document.getElementById('viewType');
        const gridView = document.getElementById('gridView');
        const listView = document.getElementById('listView');

        viewType.addEventListener('change', function () {
          if (this.value === 'grid') {
            gridView.classList.remove('is-hidden');
            listView.classList.add('is-hidden');
          } else {
            gridView.classList.add('is-hidden');
            listView.classList.remove('is-hidden');
          }
        });

        getPagedAnalysisResultList(1);

        document.querySelectorAll('.pagination-link').forEach((link) => {
          link.addEventListener('click', function () {
            const pageNumber = this.innerText;
            getPagedAnalysisResultList(pageNumber);
          });
        });
      });

      function getPagedAnalysisResultList(pageNumber) {
        const offset = pageNumber - 1;
        $.ajax({
          url: `/children/${getChildIdFromUrl()}/analysis/results?offset=${offset}&limit=10`,
          type: 'GET',
          success: function (data) {
            const { pageNumber, totalPages, content } = data;

            if (!content || content.length === 0) {
              document.getElementById('gridView').innerHTML =
                '<div id="noContentMessageGrid" style="text-align: center;"><h1>分析結果がありません。</h1></div>';
              document.getElementById('listView').innerHTML =
                '<div id="noContentMessageList" style="text-align: center;"><h1>分析結果がありません。</h1></div>';
              updatePagination(1, 1);
              return;
            }

            const gridView = document.getElementById('gridView');
            gridView.innerHTML = '';
            content.forEach((item) => {
              const card = document.createElement('div');
              card.classList.add('column', 'is-one-fifth');
              card.innerHTML = `
                <div class="card">
                  <div>
                    <figure class="image preview-image">
                      <img src="${item.analysisTargetFileSrcUri}" />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <strong>${item.analysisResultTitle}</strong>
                      <p class="has-text-grey">分析日時 <br>${new Date(
                        item.analysisDate
                      ).toLocaleString()}</p>
                      <p class="has-text-grey">登録日時 <br>${new Date(
                        item.createdAt
                      ).toLocaleDateString()}</p>
                    </div>
                  </div>
                  <footer class="card-footer-custom">
                    <a href="/children/${getChildIdFromUrl()}/analysis/${
                item.analysisTargetId
              }/results/${
                item.analysisResultId
              }/details"><button class="card-footer-item">詳細</button></a>
                    <button data-analysisTargetId="${
                      item.analysisTargetId
                    }" data-analysisResultId="${
                item.analysisResultId
              }" class="delete-button card-footer-item" onclick="deleteItem(event)">削除</button>
                  </footer>
                </div>
              `;
              gridView.appendChild(card);
            });

            const listTableBody = document.getElementById('listTableBody');
            listTableBody.innerHTML = '';
            content.forEach((item, idx) => {
              const row = document.createElement('tr');
              const icons = item.analysisTypes
                .map((type) => {
                  if (type === 'WRITING') return '📖';
                  if (type === 'DRAWING') return '🖼️';
                  if (type === 'PHOTO') return '📸';
                  return '';
                })
                .join(', ');
              row.innerHTML = `
                <td>${idx + 1}</td>
                <td>${new Date(item.createdAt).toLocaleDateString()}</td>
                <td>${new Date(item.analysisDate).toLocaleDateString()}</td>
                <td><a href="/children/${getChildIdFromUrl()}/analysis/${
                item.analysisTargetId
              }/results/${item.analysisResultId}/details">${
                item.analysisResultTitle
              }</a></td>
                <td>${icons}</td>
                <td class="has-text-right">
                  <button data-analysisTargetId="${
                    item.analysisTargetId
                  }" data-analysisResultId="${
                item.analysisResultId
              }" class="delete-button button is-danger is-small" onclick="deleteItem(event)">削除</button>
                </td>
              `;
              listTableBody.appendChild(row);
            });

            updatePagination(pageNumber, totalPages);
          },
          error: function (error) {
            console.error(error);
          },
        });
      }

      function updatePagination(currentPage, totalPages) {
        var paginationList = $('.pagination-list');
        paginationList.empty();

        for (var i = 0; i < totalPages; i++) {
          var pageLabel = i + 1;
          var isCurrentPage = i === currentPage;

          var link = $('<a>', {
            class: 'pagination-link' + (isCurrentPage ? ' is-current' : ''),
            'aria-label': 'ページ ' + pageLabel + ' へ移動',
            text: pageLabel,
          });

          link.on('click', function () {
            var selectedPage = parseInt($(this).text());
            getPagedAnalysisResultList(selectedPage);
          });

          var li = $('<li>').append(link);
          paginationList.append(li);
        }

        $('.pagination-previous')
          .off('click')
          .on('click', function (e) {
            e.preventDefault();
            if (currentPage > 0) {
              getPagedAnalysisResultList(currentPage);
            }
          });

        $('.pagination-next')
          .off('click')
          .on('click', function (e) {
            e.preventDefault();
            if (currentPage < totalPages - 1) {
              getPagedAnalysisResultList(currentPage + 2);
            }
          });
      }

      function getChildIdFromUrl() {
        const pathParts = window.location.pathname.split('/');
        if (pathParts.length > 2 && pathParts[1] === 'children') {
          return pathParts[2];
        }
        return null;
      }

      function formatLocalDateTime(dateTimeString) {
        const dateObj = new Date(dateTimeString);
        const year = dateObj.getFullYear();
        const month = ('0' + (dateObj.getMonth() + 1)).slice(-2);
        const day = ('0' + dateObj.getDate()).slice(-2);
        const hours = ('0' + dateObj.getHours()).slice(-2);
        const minutes = ('0' + dateObj.getMinutes()).slice(-2);
        const seconds = ('0' + dateObj.getSeconds()).slice(-2);
        return `${year}年${month}月${day}日 ${hours}時${minutes}分`;
      }
    </script>
  </head>
  <body>
    <nav aria-label="main navigation" class="navbar" role="navigation">
      <!-- ロゴ + ダッシュボードへのリンク -->
      <div class="logo">
        <a th:href="@{/dashboard}">
          <img
            alt="ロゴ"
            class="image"
            src="../../static/images/wilog.png"
            style="width: 100px; height: auto"
            th:src="@{/images/wilog.png}"
          />
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="/guides"
              ><span>ご利用案内</span></a
            >
          </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="/claims"
              ><span>カスタマーサポート</span></a
            >
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered mb-6">
          [[${childName}]]の感情分析結果一覧
        </h1>

        <div class="columns is-mobile is-vcentered mb-4">
          <div class="column is-narrow">
            <div class="select">
              <select id="viewType">
                <option value="grid">グリッド</option>
                <option value="list">リスト</option>
              </select>
            </div>
          </div>
          <div class="column">
            <a
              th:href="@{/children/{childId}/analysis/new(childId=${childId})}"
            >
              <button class="button is-link is-light is-pulled-right">
                感情分析を行う
              </button>
            </a>
          </div>
        </div>

        <!-- グリッド表示 -->
        <div class="columns is-multiline" id="gridView">
          <!-- ページレスポンスに基づいて動的にレンダリング -->
          <div
            class="column is-one-fifth"
            th:each="i : ${#numbers.sequence(1, 10)}"
          >
            <div class="card">
              <div class="card-image">
                <figure class="image preview-image">画像プレビュー</figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <p class="has-text-grey">2025.02.10</p>
                  <p>タイトル</p>
                </div>
              </div>
              <footer class="card-footer">
                <button class="delete-button card-footer-item">削除</button>
              </footer>
            </div>
          </div>
        </div>

        <!-- リスト表示 -->
        <div class="is-hidden" id="listView">
          <!-- ページレスポンスに基づいて動的にレンダリング -->
          <table class="table is-fullwidth" id="listTable">
            <thead>
              <tr>
                <th>番号</th>
                <th>登録日時</th>
                <th>分析日時</th>
                <th>タイトル</th>
                <th>分析タイプ</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="listTableBody">
              <tr th:each="i : ${#numbers.sequence(1, 5)}">
                <td>1</td>
                <td>2025.01.24</td>
                <td>2025.01.24</td>
                <td>ユーザーが入力したタイトル</td>
                <td>分析タイプ</td>
                <td class="has-text-right">
                  <button class="delete-button">削除</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <nav
          aria-label="pagination"
          class="pagination is-centered mt-6"
          role="navigation"
        >
          <a class="pagination-previous">&lt;&lt;</a>
          <a class="pagination-next">&gt;&gt;</a>
          <ul class="pagination-list">
            <!-- ページネーションリンクは動的に生成されます -->
          </ul>
        </nav>
      </div>
    </section>
    <div th:replace="fragments/footer :: ilogFooter"></div>
  </body>
</html>
