<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>우리 아이 일기장 목록 페이지</title>
    <link
            href="../../../static/css/bulma.min.css"
            rel="stylesheet"
            th:href="@{/css/bulma.min.css}"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            rel="stylesheet"
    />
    <style>
        /* 프라이머리 컬러: #FDF5BF, 세컨더리 컬러: #BEE6D9 */
        .primary-color {
          color: #fdf5bf;
        }

        body {
          background-color: #fdf5bf;
        }

        .secondary-bg {
          background-color: #bee6d9;
        }

        /* 네비게이션 바 사용자 정의 */
        .navbar {
          background-color: #bee6d9;
        }

        .navbar-item,
        .navbar-link {
          color: #333;
        }

        /* 추가적인 마진 조정 */
        .content-section {
          margin-top: 2rem;
        }

        /* 새로 추가한 CSS 클래스 (인라인 스타일 대체) */
        .logo-image {
          width: 100px;
          height: auto;
        }

        /* 로고 설정 */
        .logo a {
          display: inline-block;
        }

        .logo img {
          cursor: pointer;
        }
    </style>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/sweetalert2.js"></script>

    <script>
        $(document).ready(function () {
          // navbar burger toggle (모바일)
          $('.navbar-burger').click(function () {
            $('.navbar-burger, .navbar-menu').toggleClass('is-active');
          });

          $('.deleteBtn').click(function () {
            let diaryId = Number($(this).attr('data-diary-id'));
            let childId = Number($(this).attr('data-child-id'));

            // SweetAlert2로 확인 메시지
            Swal.fire({
              title: '삭제',
              text: '정말로 삭제하시겠습니까?',
              icon: 'warning',
              showCancelButton: true, // 취소 버튼을 표시
              confirmButtonText: '삭제',
              cancelButtonText: '취소',
              reverseButtons: true, // 버튼 순서를 뒤집어서 취소 버튼을 왼쪽에 배치
            }).then((result) => {
              // 사용자가 '삭제'를 클릭한 경우
              if (result.isConfirmed) {
                $.ajax({
                  type: 'DELETE',
                  url: '/children/' + childId + '/diaries/' + diaryId,
                  success: function (response) {
                    if (response === 'fail') {
                      Swal.fire('삭제할 일기가 존재하지 않습니다.');
                    } else {
                      Swal.fire('일기를 삭제했습니다.').then(() => {
                        window.location.href = response; // 삭제 성공 시 페이지 이동
                      });
                    }
                  },
                  error: function () {
                    Swal.fire('삭제 중 오류가 발생했습니다.');
                  },
                });
              }
            });
          });
        });
    </script>
</head>

<body>
<!-- 네비게이션 바 -->
<nav aria-label="main navigation" class="navbar" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/dashboard">
            <img
                    alt="iLog 로고"
                    src="../../static/images/wilog.png"
                    style="max-height: 60px"
                    th:src="@{/images/wilog.png}"
            />
        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-light" href="/dashboard">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span>대시보드</span>
                </a>
                <a class="button is-light" href="/guides">
                    <span class="icon"><i class="fas fa-info-circle"></i></span>
                    <span>이용안내</span>
                </a>
                <a class="button is-light" href="/claims">
                    <span class="icon"><i class="fas fa-headset"></i></span>
                    <span>고객센터</span>
                </a>
            </div>
        </div>
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-light" th:href="@{/members/myDetails}">
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <span th:text="|${memberName}(${relationType})|"
                    >김미영(부모)</span
                    >
                </a>
            </div>
        </div>
    </div>
</nav>

<section class="section content-section">
    <div class="container">
        <h2 class="title is-3">우리아이 일기장 목록 페이지</h2>
        <hr/>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="subtitle">아이 일기 목록</p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a
                            class="button is-medium secondary-bg"
                            th:href="@{/children/{childId}/diaries/new(childId=${childId})}"
                    >
                        일기 쓰기
                    </a>
                </div>
            </div>
        </div>
        <hr/>

        <!-- 일기 목록 테이블 -->
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th>번호</th>
                <th>일기 제목</th>
                <th>작성일</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <!-- 일기 목록 반복문 -->
            <tr th:each="diary : ${list.content}">
                <td th:text="${diary.id}"></td>
                <td>
                    <a
                            th:href="@{/children/{childId}/diaries/{id}/details(childId=${childId},id=${diary.id})}"
                            th:text="${diary.title}"
                    >
                        일기 제목
                    </a>
                </td>
                <td
                        th:text="${#temporals.format(diary.createdAt, 'yyyy-MM-dd HH:mm:ss')}"
                ></td>
                <td>
                    <button
                            class="button is-danger deleteBtn"
                            th:data-child-id="${childId}"
                            th:data-diary-id="${diary.id}"
                            type="button"
                    >
                        삭제
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- 페이징 처리 -->
        <nav
                aria-label="pagination"
                class="pagination is-centered"
                role="navigation"
                th:if="${list.totalPages > 1}"
        >
            <a
                    class="pagination-previous"
                    th:classappend="${list.hasPrevious() ? '' : ' is-disabled'}"
                    th:href="@{/children/{childId}/diaries/diaryList(childId=${childId}, page=0)}"
            >&laquo; 처음</a
            >

            <a
                    class="pagination-previous"
                    th:classappend="${list.hasPrevious() ? '' : ' is-disabled'}"
                    th:href="@{/children/{childId}/diaries/diaryList(childId=${childId}, page=${list.number - 1})}"
            >&lt; 이전</a
            >

            <ul class="pagination-list">
                <li
                        th:classappend="${i == list.number ? ' is-current' : ''}"
                        th:each="i : ${#numbers.sequence(0, list.totalPages - 1)}"
                >
                    <a
                            class="pagination-link"
                            th:href="@{/children/{childId}/diaries/diaryList(childId=${childId}, page=${i})}"
                            th:text="${i + 1}"
                    ></a>
                </li>
            </ul>

            <a
                    class="pagination-next"
                    th:classappend="${list.hasNext() ? '' : ' is-disabled'}"
                    th:href="@{/children/{childId}/diaries/diaryList(childId=${childId}, page=${list.number + 1})}"
            >다음 &gt;</a
            >

            <a
                    class="pagination-next"
                    th:classappend="${list.hasNext() ? '' : ' is-disabled'}"
                    th:href="@{/children/{childId}/diaries/diaryList(childId=${childId}, page=${list.totalPages - 1})}"
            >마지막 &raquo;</a
            >
        </nav>
    </div>
</section>
<div th:replace="fragments/footer :: ilogFooter"></div>
</body>
</html>
