<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>우리 아이 일기 통계로 보기</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
	<h2>우리 아이 일기 통계로 보기</h2>
	
	<!-- 틀 미리보기! 확정X -->
	<div>
        <h2>저장된 사용자 정보</h2>
        <table border="1">
            <tr>
                <th>항목</th>
                <th>값</th>
            </tr>
            <tr>
                <td><strong>이름</strong></td>
                <td id="savedUsername"></td>
            </tr>
            <tr>
                <td><strong>나이</strong></td>
                <td id="savedAge"></td>
            </tr>
        </table>
        <p><a th:href="@{/children/diaries}">일기 목록 자세히 보기</a></p>
    </div>
    
</body>
</html>