<!-- fragments/navbar.html -->
<nav
  th:fragment="navbar"
  class="navbar"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/dashboard">
      <img
        id="logo"
        src="../../static/images/wilog.png"
        th:src="@{/images/wilog.png}"
        alt="iLog 로고"
      />
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/guides"><span>이용안내</span></a>
      </div>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/claims"><span>고객센터</span></a>
      </div>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/auth/logout"><span>로그아웃</span></a>
      </div>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" th:href="@{/members/myDetails}">
          <span class="icon"><i class="fas fa-user"></i></span>
          <span th:text="|${memberName}(${relationType})|">김미영(부모)</span>
        </a>
      </div>
    </div>
  </div>
</nav>
