<!-- fragments/navbar.html -->
<nav
  aria-label="main navigation"
  class="navbar"
  role="navigation"
  th:fragment="navbar"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/dashboard">
      <img
        alt="iLog ロゴ"
        id="logo"
        src="../../static/images/wilog.png"
        th:src="@{/images/wilog.png}"
      />
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/guides"><span>ご利用案内</span></a>
      </div>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/claims"
          ><span>カスタマーサポート</span></a
        >
      </div>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/auth/logout"
          ><span>ログアウト</span></a
        >
      </div>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" th:href="@{/members/myDetails}">
          <span class="icon"><i class="fas fa-user"></i></span>
          <span th:text="|${memberName}(${relationType})|">김미영(保護者)</span>
        </a>
      </div>
    </div>
  </div>
</nav>
