:root {
  —bulma-primary-h: 161deg;
  —bulma-primary-s: 44%;
  —bulma-primary-l: 82%;
  --primary: #fdf5bf;
  --secondary: #bee6d9;
  --third: #ffb6b9;
}

.is-secondary {
  background-color: #bee6d9;
}

.is-third {
  background-color: #ffb6b9;
}
