<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <title>아동 상세 정보 등록 페이지</title>
  <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<!-- 2025/2/10 은진 -->
<h1>아동 상세 정보 등록 페이지</h1>

<div>
<label>이름 : </label>
  <input type="text"><br>
  <label>키 : </label>
  <input type="number">cm<br>
  <label>몸무게 : </label>
  <input type="number">kg<br>
  <label>시력 : </label><br>
  좌: <input type="number"> 우:  <input type="number"><br>
  <label>생년일 : </label>
  <input type="date">kg<br>

</div>

<a href="#">등록하기</a>

</body>

</html>