<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>아동 정보 상세 페이지</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<!-- 은진 -->
<h1>아동 정보 상세 페이지</h1>

<div>
<!-- 삭제
    <pre>
        이름 : 김승현
        키 : 000cm
        몸무게 : 00kg
        시력 : 좌 00 / 우00
        나이 : 만 00세
    </pre> 
    				-->
<!-- 2025-02-06 이도훈 임시 테이블 -->
    <table border=1>
    	<tr>
    		<th>이름</th>
    		<th>키</th>
    		<th>몸무게</th>
    		<th>시력</th>
    		<th>나이</th>
    	</tr>
    	<tr>
    		<td>김승현</td>
    		<td>112.5cm</td>
    		<td>23kg</td>
    		<td>좌 :1.1 / 우 : 1.0</td>
    		<td>만6세</td>
    	</tr>
    	<tr>
    		<td>김승현</td>
    		<td>112.5cm</td>
    		<td>23kg</td>
    		<td>좌 :1.1 / 우 : 1.0</td>
    		<td>만6세</td>
    	</tr>
    	<tr>
    		<td>[[childDetailsDto.name]]</td>
    		<td>[[childDetailsDto.height]]</td>
    		<td>[[childDetailsDto.weight]]</td>
    		<td>
    			[[#numbers.formatDecimal(childDetailsDto.leftEye, 1, 'POINT')]]
    			/
    			[[#numbers.formatDecimal(childDetailsDto.rightEye, 1, 'POINT')]]
    		</td>
    		<td>[[childDetailsDto.age]]</td>
    	</tr>
    	
    </table>
</div>

<div>
    최근 감정 지표
</div>

<a href="#">수정하기</a>
<a href="#">삭제하기</a>

</body>

</html>