<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>

<h2>김승현군 일기장 목록 페이지</h2>

<a href="#">일기 쓰기</a>

<div id="list">
    <label>번호</label>&nbsp;
    <label>등록일</label>&nbsp;
    <label>제목</label>&nbsp;
</div>
<hr>
<div id="result">
    <table>
        <tr>
            <th class="w50">번호</th>
            <th class="w200 update">등록일</th>
            <th class="w200 title">제목</th>
            <th class="w50 delBtns">삭제</th>
        </tr>
    </table>
</div>

</body>
</html>