<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>아동 정보 상세 페이지</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<!-- 은진 -->
<h1>아동 상세 정보 페이지</h1>

<div>
    <pre>
        이름 : 김승현
        키 : 000cm
        몸무게 : 00kg
        시력 : 좌 00 / 우00
        나이 : 만 00세
    </pre>

</div>

<div>
    최근 감정 지표
</div>

<a href="#">수정하기</a>
<a href="#">삭제하기</a>

</body>
</html>