<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>대시보드페이지</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
	<h1>대쉬보드</h1>

	<!-- 준성's -->
	<a th:href="@{/children/diaryDetails}"> /children/diaryDetails 접속 </a>
	<!-- 우리 아이 일기 통계로 바로가기 보경's-->
   <p><a th:href="@{/children/diaryStatistics}">우리 아이 일기장</a></p>
	<a th:href="@{/statisticsDetails}">우리아이 성장곡선</a>

	<!-- 우리 아이 일기 통계로 바로가기 -->
	<p><a th:href="@{/children/diaryStatistics}">우리 아이 일기장</a></p>

</body>
</html>