<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>통계 상세 페이지</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>

<body>

    <div class="title">김승현군 통계 상세 페이지</div>

    <div class="graph-container">
        <div class="buttons">
            <span>통계 다운로드</span> | <span>기간 설정</span>
        </div>
        <div class="graph">
            <div class="line"></div>
            <div class="point" style="left: 5%; top: 60%;"></div>
            <div class="point" style="left: 25%; top: 40%;"></div>
            <div class="point" style="left: 45%; top: 70%;"></div>
            <div class="point" style="left: 65%; top: 30%;"></div>
            <div class="point" style="left: 85%; top: 65%;"></div>
        </div>
        <div class="dates">
            <span>2025/01/11</span>
            <span>2025/01/11</span>
            <span>2025/01/11</span>
            <span>2025/01/11</span>
            <span>2025/01/11</span>
        </div>
    </div>

</body>

</html>