<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>랜딩페이지-한글</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>index</h1>

    <a th:href="@{/guides}">이용안내</a>
    <a th:href="@{/auth/signIn}">로그인</a>
    <h1>index</h1>
    <a th:href="@{/customerCenter}">고객센터</a>
    <a th:href="@{/parentDashboard}">부모대쉬보드</a>    
    <a th:href="@{/teacherDashboard}">선생대쉬보드</a>    
    <a th:href="@{/surveys}">설문목록</a>    
</body>
</html>